:root {
  --ana-color-lilas: #8B0FB9;
  --ana-color-roxo: #3B096A;
  --ana-color-branco: #fdeded;
  --ana-color-preto: #000000;
}

* {
  padding: 0;
  margin: 0;
}

main {
  scroll-behavior: smooth;
}

/* APP  */
.flex-homu {
  display: flex;
}

/* HEADER  */

.header-page {
  color: var(--ana-color-preto);
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
}

/* HERO  */

.hero-page {
  background-color: var(--ana-color-lilas);
}
